@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,700');

$brand-color-1: #4a67ab;
$brand-color-2: #2d495c;
$brand-color-3: #2f4c5e;

$brand-color-a: #e8eff2; // pale blue
$brand-color-b: #a8c1cc; // light grey
$brand-color-c: #6cbcdc; // blue
$brand-color-d: #404042; // black
$brand-color-e: #2b3e50; // dark
$brand-color-f: #ee464c; // red

$primary: $brand-color-2;
//$button-background-color: #2d495c;

$message-header-background-color: $brand-color-3;
$message-header-border-radius: 0;

$family-primary: 'Raleway', $family-sans-serif;

$content-heading-weight: $weight-bold;

@import "~bulma";
@import "~buefy/src/scss/buefy";


// html {
//   background-color: #f4f4f4;
// }
.page-enter-active, .page-leave-active {
  transition: all .25s ease-in-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
.button {
  width: 140px;
  text-transform: uppercase;
  font-weight: 700;
}
.footnote {
  font-size: 0.75rem;
}
.b-tabs li:nth-child(6) a {
  background-color: rgba($color: $brand-color-2, $alpha: 0.5);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  span {
    color: white;
  }
}
.b-tabs li:nth-child(6):hover a {
  background-color: $brand-color-2;
}
.b-tabs li:nth-child(6).is-active a {
  background-color: $brand-color-2;
  span {
    font-weight: 700;
  }
}

