@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,700');

$brand-color-1: #4A67AB;

$primary: $brand-color-1;
$button-background-color: #2d495c;

$message-header-background-color: #2f4c5e;
$message-header-border-radius: 0;



$family-primary: 'Raleway', $family-sans-serif;



@import "~bulma";
@import "~buefy/src/scss/buefy";



html {
  background-color: #f4f4f4;
}
.page-enter-active, .page-leave-active {
  transition: all .25s ease-in-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.box {
  box-shadow: none;
}
.content li {
  margin-left: 1rem;
  padding-left: .75rem;
}
.control a.button {
  width: 120px;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
.button {
  text-transform: uppercase;
}
.button.is-primary  {
  background-color: $button-background-color;
}
.message.is-primary .message-header {
  background-color: $message-header-background-color;
  border-radius: $message-header-border-radius;
}

.message-body {
  border-radius: $message-header-border-radius;
}
