@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
.cheque-payment {
  font-size: 12px;
}
.box {
  box-shadow: none;
  border: 1px solid grey;
  border-radius: 5px;
}
.bpay-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.bpay-box img {
  width: 80px;
  border: 4px solid #142c61;
  margin-right: 4px;
}
.bpay-details {
  border: 4px solid #142c61;
  padding-left: 1rem;
  padding-right: 3rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bpay-details span {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: #142c61;
  font-weight: 700;
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
